#### Import Libraries

In [1]:
import pandas as pd
import numpy as np

#### Reading CSV files

In [2]:
df_train=pd.read_csv("../../Datasets/D2C_startup_leads/train_wn75k28.csv")
df_test=pd.read_csv("../../Datasets/D2C_startup_leads/test_Wf7sxXF.csv")

In [3]:
df_train.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12,buy
0,1,2021-01-01,1,2,2.0,2020-09-24,0,0,0,0,0,0,1,1,0,0,0,0,0
1,2,2021-01-01,2,1,2.0,2020-09-19,1,0,1,0,0,0,1,0,0,0,0,0,0
2,3,2021-01-01,9,3,3.0,2021-08-11,1,0,0,0,0,0,0,0,0,0,0,0,0
3,4,2021-01-01,6,7,2.0,2017-10-04,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,2021-01-01,4,6,NaN,2020-06-08,0,0,0,0,0,0,1,0,0,0,1,0,0

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    18250 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

### Preprocessing

In [5]:
df_train.buy.value_counts()

0    37163
1     1998
Name: buy, dtype: int64

In [6]:
df_train['products_purchased'].value_counts()

2.0    8867
3.0    5024
1.0    3643
4.0     716
Name: products_purchased, dtype: int64

In [7]:
#df_train['products_purchased'].mode()

In [8]:
#df_train['products_purchased'].fillna(df_train['products_purchased'].mode()[0],inplace=True)

In [9]:
#df_train['products_purchased'].value_counts()

In [10]:
df_train['products_purchased'].fillna(method='ffill',inplace=True)

In [11]:
df_train['products_purchased']

0        2.0
1        2.0
2        3.0
3        2.0
4        2.0
        ...
39156    2.0
39157    3.0
39158    2.0
39159    2.0
39160    2.0
Name: products_purchased, Length: 39161, dtype: float64

In [12]:
df_train['products_purchased'].value_counts()

2.0    18973
3.0    10816
1.0     7897
4.0     1475
Name: products_purchased, dtype: int64

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           24048 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

In [14]:
df_train['created_at'].value_counts()

2021-12-26    181
2021-12-09    180
2021-12-21    179
2021-12-07    179
2021-12-04    178
             ...
2021-01-07     34
2021-01-14     33
2021-01-06     29
2021-01-22     26
2021-01-01     21
Name: created_at, Length: 365, dtype: int64

In [15]:
df_train['signup_date'].value_counts()

2021-07-18    45
2021-08-03    38
2021-01-28    38
2021-09-10    38
2021-09-20    38
              ..
2016-11-01     1
2016-10-31     1
2017-11-15     1
2017-11-27     1
2017-10-22     1
Name: signup_date, Length: 1800, dtype: int64

In [16]:
df_train['signup_date'].fillna(method='ffill',inplace=True)

In [17]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           39161 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
dtypes: float64(1), int64(16), object(2)
memory usage: 5.7+ MB

In [18]:
df_train['Created_Year'] = pd.to_datetime(df_train['created_at']).dt.year
df_train['Created_Month'] = pd.to_datetime(df_train['created_at']).dt.month
df_train['Created_Day'] = pd.to_datetime(df_train['created_at']).dt.dayofweek

In [19]:
df_train['signup_Year'] = pd.to_datetime(df_train['signup_date']).dt.year
df_train['signup_Month'] = pd.to_datetime(df_train['signup_date']).dt.month
df_train['signup_Day'] = pd.to_datetime(df_train['signup_date']).dt.dayofweek

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39161 entries, 0 to 39160
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    39161 non-null  int64
 1   created_at            39161 non-null  object
 2   campaign_var_1        39161 non-null  int64
 3   campaign_var_2        39161 non-null  int64
 4   products_purchased    39161 non-null  float64
 5   signup_date           39161 non-null  object
 6   user_activity_var_1   39161 non-null  int64
 7   user_activity_var_2   39161 non-null  int64
 8   user_activity_var_3   39161 non-null  int64
 9   user_activity_var_4   39161 non-null  int64
 10  user_activity_var_5   39161 non-null  int64
 11  user_activity_var_6   39161 non-null  int64
 12  user_activity_var_7   39161 non-null  int64
 13  user_activity_var_8   39161 non-null  int64
 14  user_activity_var_9   39161 non-null  int64
 15  user_activity_var_10  39161 non-null  int64
 16  user_activity_var_11  39161 non-null  int64
 17  user_activity_var_12  39161 non-null  int64
 18  buy                   39161 non-null  int64
 19  Created_Year          39161 non-null  int64
 20  Created_Month         39161 non-null  int64
 21  Created_Day           39161 non-null  int64
 22  signup_Year           39161 non-null  int64
 23  signup_Month          39161 non-null  int64
 24  signup_Day            39161 non-null  int64
dtypes: float64(1), int64(22), object(2)
memory usage: 7.5+ MB

In [21]:
df_train=df_train.drop(['created_at'],axis=1)
df_train=df_train.drop(['signup_date'],axis=1)

In [22]:
df_train.columns

Index(['id', 'campaign_var_1', 'campaign_var_2', 'products_purchased',
       'user_activity_var_1', 'user_activity_var_2', 'user_activity_var_3',
       'user_activity_var_4', 'user_activity_var_5', 'user_activity_var_6',
       'user_activity_var_7', 'user_activity_var_8', 'user_activity_var_9',
       'user_activity_var_10', 'user_activity_var_11', 'user_activity_var_12',
       'buy', 'Created_Year', 'Created_Month', 'Created_Day', 'signup_Year',
       'signup_Month', 'signup_Day'],
      dtype='object')

In [23]:
X=df_train[['campaign_var_1', 'campaign_var_2', 'products_purchased',
       'user_activity_var_1', 'user_activity_var_2', 'user_activity_var_3',
       'user_activity_var_4', 'user_activity_var_5', 'user_activity_var_6',
       'user_activity_var_7', 'user_activity_var_8', 'user_activity_var_9',
       'user_activity_var_10', 'user_activity_var_11', 'user_activity_var_12','Created_Year', 'Created_Month', 'Created_Day', 'signup_Year',
       'signup_Month', 'signup_Day']].values
y=df_train['buy'].values

In [24]:
X.shape, y.shape

((39161, 21), (39161,))

In [25]:
df_train['buy'].value_counts()

0    37163
1     1998
Name: buy, dtype: int64

#### since our target varible has imbalanced data

In [26]:
from imblearn.over_sampling import RandomOverSampler
rm=RandomOverSampler()
X_data,y_data=rm.fit_resample(X,y)

In [27]:
import numpy as np
(unique, counts) = np.unique(y_data, return_counts=True)
frequencies = np.asarray((unique, counts)).T
print(frequencies)

[[    0 37163]
 [    1 37163]]

# Cross-Validation

In [28]:
from sklearn.model_selection import KFold
kf=KFold(n_splits=2)
kf.get_n_splits(X)
print(kf)

KFold(n_splits=2, random_state=None, shuffle=False)

In [29]:
for train_data,test_data in kf.split(X):
    x_train,x_test=X_data[train_data],X_data[test_data]
    y_train,y_test=y_data[train_data],y_data[test_data]
    print("Train : ",train_data.shape," Test: ",test_data.shape)

Train :  (19580,)  Test:  (19581,)
Train :  (19581,)  Test:  (19580,)

In [30]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=250,random_state=11)
model.fit(x_train,y_train)
print(model.score(x_test,y_test),model.score(x_train,y_train))

0.9773237997957099 0.9999489300852867

In [31]:
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier(base_estimator=RandomForestClassifier(max_depth=3),n_estimators=250)
model.fit(x_train,y_train)
print(model.score(x_test,y_test),model.score(x_train,y_train))

0.9757916241062309 0.9794188243705633

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=3),n_estimators=250)
model.fit(x_train,y_train)
print(model.score(x_test,y_test),model.score(x_train,y_train))

from sklearn.svm import SVC
model=AdaBoostClassifier(base_estimator=SVC(kernel='rbf'),n_estimators=20,algorithm='SAMME')
model.fit(x_train,y_train)
print(model.score(x_test,y_test),model.score(x_train,y_train))

## TEST DATA

In [32]:
df_test.head()

,id,created_at,campaign_var_1,campaign_var_2,products_purchased,signup_date,user_activity_var_1,user_activity_var_2,user_activity_var_3,user_activity_var_4,user_activity_var_5,user_activity_var_6,user_activity_var_7,user_activity_var_8,user_activity_var_9,user_activity_var_10,user_activity_var_11,user_activity_var_12
0,39162,2022-01-01,2,2,NaN,2021-08-17,1,1,0,0,0,1,0,0,0,0,1,0
1,39163,2022-01-01,4,7,3.0,2020-05-21,1,0,0,0,0,0,0,1,0,0,0,0
2,39164,2022-01-01,8,7,NaN,NaN,0,0,0,0,1,1,0,0,0,0,0,0
3,39165,2022-01-01,9,8,2.0,2020-06-22,0,0,0,0,1,1,1,0,0,0,2,0
4,39166,2022-01-01,4,5,2.0,2021-03-10,1,0,0,0,0,0,0,0,0,0,0,0

In [33]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   created_at            13184 non-null  object
 2   campaign_var_1        13184 non-null  int64
 3   campaign_var_2        13184 non-null  int64
 4   products_purchased    5048 non-null   float64
 5   signup_date           6535 non-null   object
 6   user_activity_var_1   13184 non-null  int64
 7   user_activity_var_2   13184 non-null  int64
 8   user_activity_var_3   13184 non-null  int64
 9   user_activity_var_4   13184 non-null  int64
 10  user_activity_var_5   13184 non-null  int64
 11  user_activity_var_6   13184 non-null  int64
 12  user_activity_var_7   13184 non-null  int64
 13  user_activity_var_8   13184 non-null  int64
 14  user_activity_var_9   13184 non-null  int64
 15  user_activity_var_10  13184 non-null  int64
 16  user_activity_var_11  13184 non-null  int64
 17  user_activity_var_12  13184 non-null  int64
dtypes: float64(1), int64(15), object(2)
memory usage: 1.8+ MB

In [34]:
df_test['products_purchased'].value_counts()

2.0    2484
3.0    1260
1.0    1106
4.0     198
Name: products_purchased, dtype: int64

In [35]:
df_test['products_purchased'].fillna(method='ffill',inplace=True)

In [36]:
df_test['products_purchased'].value_counts()

2.0    6475
3.0    3142
1.0    3003
4.0     563
Name: products_purchased, dtype: int64

In [37]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   created_at            13184 non-null  object
 2   campaign_var_1        13184 non-null  int64
 3   campaign_var_2        13184 non-null  int64
 4   products_purchased    13183 non-null  float64
 5   signup_date           6535 non-null   object
 6   user_activity_var_1   13184 non-null  int64
 7   user_activity_var_2   13184 non-null  int64
 8   user_activity_var_3   13184 non-null  int64
 9   user_activity_var_4   13184 non-null  int64
 10  user_activity_var_5   13184 non-null  int64
 11  user_activity_var_6   13184 non-null  int64
 12  user_activity_var_7   13184 non-null  int64
 13  user_activity_var_8   13184 non-null  int64
 14  user_activity_var_9   13184 non-null  int64
 15  user_activity_var_10  13184 non-null  int64
 16  user_activity_var_11  13184 non-null  int64
 17  user_activity_var_12  13184 non-null  int64
dtypes: float64(1), int64(15), object(2)
memory usage: 1.8+ MB

In [38]:
df_test['products_purchased'].fillna(method='bfill',inplace=True)

In [39]:
df_test['products_purchased'].value_counts()

2.0    6475
3.0    3143
1.0    3003
4.0     563
Name: products_purchased, dtype: int64

In [40]:
df_test['signup_date'].fillna(method='ffill',inplace=True)

In [41]:
df_test['Created_Year'] = pd.to_datetime(df_test['created_at']).dt.year
df_test['Created_Month'] = pd.to_datetime(df_test['created_at']).dt.month
df_test['Created_Day'] = pd.to_datetime(df_test['created_at']).dt.dayofweek

In [42]:
df_test['signup_Year'] = pd.to_datetime(df_test['signup_date']).dt.year
df_test['signup_Month'] = pd.to_datetime(df_test['signup_date']).dt.month
df_test['signup_Day'] = pd.to_datetime(df_test['signup_date']).dt.dayofweek

In [43]:
df_test=df_test.drop(['created_at'],axis=1)
df_test=df_test.drop(['signup_date'],axis=1)

In [44]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13184 entries, 0 to 13183
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    13184 non-null  int64
 1   campaign_var_1        13184 non-null  int64
 2   campaign_var_2        13184 non-null  int64
 3   products_purchased    13184 non-null  float64
 4   user_activity_var_1   13184 non-null  int64
 5   user_activity_var_2   13184 non-null  int64
 6   user_activity_var_3   13184 non-null  int64
 7   user_activity_var_4   13184 non-null  int64
 8   user_activity_var_5   13184 non-null  int64
 9   user_activity_var_6   13184 non-null  int64
 10  user_activity_var_7   13184 non-null  int64
 11  user_activity_var_8   13184 non-null  int64
 12  user_activity_var_9   13184 non-null  int64
 13  user_activity_var_10  13184 non-null  int64
 14  user_activity_var_11  13184 non-null  int64
 15  user_activity_var_12  13184 non-null  int64
 16  Created_Year          13184 non-null  int64
 17  Created_Month         13184 non-null  int64
 18  Created_Day           13184 non-null  int64
 19  signup_Year           13184 non-null  int64
 20  signup_Month          13184 non-null  int64
 21  signup_Day            13184 non-null  int64
dtypes: float64(1), int64(21)
memory usage: 2.2 MB

In [45]:
X=df_test.iloc[:,1:].values
X.shape

(13184, 21)

In [46]:
yp=model.predict(X)

In [47]:
yp.shape

(13184,)

In [48]:
df_test['buy']=yp

In [49]:
df_test[['id','buy']].to_csv('Submission6.csv',index=False)